svr

In [18]:
import seaborn as sns

In [29]:
df=sns.load_dataset('tips')

In [30]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [31]:
x=df[['tip', 'sex', 'smoker', 'day', 'time', 'size']]
y=df['total_bill']

In [32]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=10)

In [25]:
from sklearn.preprocessing import LabelEncoder

In [33]:
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()

In [35]:
x_train['sex']=le1.fit_transform(x_train['sex'])
x_train['smoker']=le2.fit_transform(x_train['smoker'])
x_train['time']=le3.fit_transform(x_train['time'])

x_test['sex']=le1.transform(x_test['sex'])
x_test['smoker']=le2.transform(x_test['smoker'])
x_test['time']=le3.transform(x_test['time'])

In [36]:
x_train.head()

      tip  sex  smoker  day  time  size
58   1.76    1       1  Sat     0     2
1    1.66    1       0  Sun     0     3
2    3.50    1       0  Sun     0     3
68   2.01    1       0  Sat     0     2
184  3.00    1       1  Sun     0     2

In [37]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [39]:
ct=ColumnTransformer(transformers=[('onehot',OneHotEncoder(drop='first'),[3])],remainder='passthrough')
x_train=ct.fit_transform(x_train)
x_test=ct.transform(x_test)

In [41]:
from sklearn.svm import SVR

In [42]:
svr=SVR()
svr.fit(x_train,y_train)
y_pred=svr.predict(x_test)

In [49]:
from sklearn.metrics import r2_score, mean_squared_error

In [50]:
print(r2_score(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))

0.46028114561159283
45.692136151683385